body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: aqua;
  
}

.player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black 5px solid;
  border-radius: 15px;
  margin: 20px;
  background-color: blue;
  color: azure;
}

